<!-- <div class="card">
    <p-toolbar 
        styleClass="bg-gray-900 shadow-2 footer" 
        [style]="{ }">
        <ng-template pTemplate="start">
            <div class="flex-column justify-content-center align-items-center gap-3 " >

                <img [style]="{'height': '50px' ,'flex':'2'}" src="assets/logo-placeholder.png" />
                <p> our mission is to help you start your career</p>
                
            </div>
        </ng-template>
        <ng-template pTemplate="center">
            <div class="flex-column  gap-3" >
                <div class="flex justify-content-center flex-wrap ">
                    <button class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                        <i class="pi pi-home text-2xl"></i>
                    </button>
                    <button class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                        <i class="pi pi-user text-2xl"></i>
                    </button>
                    <button class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                        <i class="pi pi-search text-2xl"></i>
                    </button>
                </div>

                <p style="color: #fff;">&copy; All Rights Reserved</p>
            </div>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex gap-2"  >
                
                <i class="pi pi-facebook" style="font-size: 2rem"></i>
                <i class="pi pi-twitter" style="font-size: 2rem"></i>
                <i class="pi pi-linkedin" style="font-size: 2rem"></i>
                <i class="pi pi-github" style="font-size: 2rem"></i>
            </div>
        </ng-template>
    </p-toolbar>
    </div> -->

<!-- 
    bootstrap footer  -->

    <div class="container-fluid custom-footer">

  
  
        <footer class="row row-cols-5 py-5  border-top custom-footer" style="background-color: var(--gray-300);">
          <div class="col">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
              <img src="assets/logo-placeholder.png" alt="" style="height: 50px;">
            </a>
            <p class="text-muted">© 2024</p>
          </div>
            
          <div class="col">
            
                </div>
                
                <div class="col">
                  <h5>Services</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                  </ul>
                </div>
                
                <div class="col">
                  <h5>Help</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                  </ul>
                </div>
                
                <div class="col">
                  <h5>Social media</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                  </ul>
                </div>
              </footer>
              
              
            </div>