<div   class="main-container " >  <!--class =" flex justify-content-center align-items-center h-full"-->

    <app-header class="w-full"></app-header>

    <div class =" flex justify-content-center align-items-center " style="width: 90%;"> 
        <!-- wrapped in $any() type to fix the Argument of type 'Event' is not assignable to parameter of type 'boolean'. -->
        
        <!-- <router-outlet (loggedIn)="handleLogin($any($event))" (loggeduser)="handleLoggedUser($any($event))" (userType)="handleUserType($any($event))"></router-outlet> 
         -->

        <router-outlet (activate)="subscribeToEmitter($event)" (deactivate)="unsubscribeFromEmitter()"></router-outlet>
        
    </div>

    
    <app-footer class="w-full" ></app-footer>
        
        
</div>