<p-card>
    <div class="container search-item">

        <div class="row">
            <div class="col-3 border-right-1">
                <img src="assets/img.png" alt="">
            </div>
            <div class="col-9 p-5 justify-content-center">
                    <div class="row">
                        tags and save btn
                    </div>
                    <div class="row">
                        <h3>company name </h3>
                    </div>
                    <div class="row">
                        detials
                    </div>
            </div>
        </div>
    </div>
</p-card>