:host{
    width: 100%;
    margin: 20px auto; 
}

::ng-deep .p-tabview-nav-content a { 
    text-decoration: none;
    color: var(--primary-color);
}

.square-container {
    width: 200px; /* Set the desired size */
    height: 200px; /* Make height equal to width for a square */
    border-radius: 20px; /* Apply border radius to the div */
    overflow: hidden; /* Ensure the image does not overflow the div */
}

.square-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire div without distortion */
}