 <div class="container-fluid">

  <div class="row justify-content-center" >
    
    <div class="col-sm-6 search-bar">
      <div class="card">
        <p-toolbar>
          <div class="p-toolbar-group-center">
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                    <input pInputText placeholder="Search" />
                  </span>
                </div>   
            <div class="p-toolbar-group-center">
            <span class="p-input-icon-left">
                <i class="pi pi-map-marker"></i>
                <input pInputText placeholder="Location" />
              </span>
            </div>
        <div class="p-toolbar-group-end">
            <a href="search">

                <p-button label="Search" icon="pi pi-search" />
              </a>
            </div>
          </p-toolbar>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col m-0 p-3" style="background-color: rgb(10, 165, 165);">
        <p-card header="Filter">
          <p class="m-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
              quas!
          </p>
      </p-card>
    </div>
    <div class="col-8 " style="background-color: rgb(32, 172, 90);">
      <div class="col">
        
        <app-search-item></app-search-item>
        
      </div>
      </div>
  </div>
</div> 

