:host{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}


::ng-deep .p-button{
    border-radius: 0rem;
}
::ng-deep .p-toolbar-group-end .p-button{
    border-radius: 1.3rem;
}

img{
    width: 80%;
}

::ng-deep .p-fieldset-legend{
    display: flex ;
    align-items: center;
    font-size: 0.8rem;
    height: 30px ;
}

::ng-deep .p-fieldset-toggleable{
    font-size: 0.8rem ;

}

::ng-deep .p-card {
    margin-top: 50px ;
}